{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!doctype html>
    <html lang="en">
      <head>
        <title>Social</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css">
        <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
      </head>
      <body>
          <!---Navbar-->
          <nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
            <a href="index.html" class="navbar-brand ml-lg-3">

            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
                  <a href="#qualification" class="nav-item nav-link"></a>
                  <a href="#skill" class="nav-item nav-link"></a>
                  <a href="#service" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#contact" class="nav-item nav-link"></a>
                  <a href="#qualification" class="nav-item nav-link"></a>
                  <a href="#skill" class="nav-item nav-link"></a>
                  <a href="#service" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#contact" class="nav-item nav-link"></a>
                  <a href="#qualification" class="nav-item nav-link"></a>
                  <a href="#skill" class="nav-item nav-link"></a>
                  <a href="#service" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#contact" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#contact" class="nav-item nav-link"></a>
                  <a href="#qualification" class="nav-item nav-link"></a>
                  <a href="#skill" class="nav-item nav-link"></a>
                  <a href="#service" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#contact" class="nav-item nav-link"></a>
                  <a href="#qualification" class="nav-item nav-link"></a>
                  <a href="#skill" class="nav-item nav-link"></a>
                  <a href="#service" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#contact" class="nav-item nav-link"></a>
                  <a href="#contact" class="nav-item nav-link"></a>
                  <a href="#qualification" class="nav-item nav-link"></a>
                  <a href="#skill" class="nav-item nav-link"></a>
                  <a href="#service" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#contact" class="nav-item nav-link"></a>
                  <a href="#skill" class="nav-item nav-link"></a>
                  <a href="#service" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#home" class="nav-item nav-link active"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#home" class="nav-item nav-link active"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#home" class="nav-item nav-link active"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#home" class="nav-item nav-link active"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#home" class="nav-item nav-link active"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#portfolio" class="nav-item nav-link"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="#home" class="nav-item nav-link active"></a>
                  <a href="#testimonial" class="nav-item nav-link"></a>
                  <a href="/" class="nav-item nav-link">Logout</a>
  
                </div>
                <a href="/profile" class="btn btn-menu d-none d-lg-block" style="background-color:#457efa; color: #ffffff;">Profile</a>
            </div>
        </nav>
          <!--End of Navbar-->
          <!----Body Section-->
          <div class="container my-3 my-sm-5">
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-8">
                      <!----->
                      <!------>
                      <article class="mb-3">
                        <header class="mb-2">
                            <a href="#"class="badge badge-pill badge-cate">Categoria</a>
                            <h1 class="main-title">
                                <a href="">Tecnologia</a>
                            </h1>
                            <div>
                                <a href="/user"class="sub-title">@ana_silva</a>
                                <h4>Inteligência Artificial para aumento do lucro de empresas</h4>
                                <div class="small">Postado em:
                                    <time datetime="2021-01-02T02:15">
                                        Jan 02,2021 às 14:15
                                    </time></div>
                                    <div class="small">
                                        <span class="badge badge-cate">
                                            <i class="fas fa-thumbs-up"aria-hidden="true"></i>
                                            18<span class="sr-only">likes</span>
                                        </span>
                                        <span class="badge badge-cate">
                                            <i class="fas fa-comments" aria-hidden="true"></i> 8
                                            <span class="sr-only">Comentários</span>
                                        </span>
                                    </div>
                                    <div class="small">
                                        <a href="#"class="badge badge-pill badge-tags">#tecnologia</a>
                                        <a href="#"class="badge badge-pill badge-tags">#startup</a>
                                        <a href="#"class="badge badge-pill badge-tags">#IA</a>
                                        <a href="#"class="badge badge-pill badge-tags">#varejo</a>
                                        <a href="#"class="badge badge-pill badge-tags">#dados</a>
                                    </div>
                            </div>
                        </header>
                       <div class="figure-img embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vxfYm6Daxmw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae doloremque officiis nemo rem, quia reiciendis quasi harum qui temporibus! Laboriosam.</p>
                    </article>
                    <!------>
                    <!------>
                    <article class="mb-3">
                      <header class="mb-2">
                          <div>
                              <a href=""class="sub-title">@joao_barros</a>
                              <h4>Automação integrada para empresas</h4>
                              <div class="small">Postado em:
                                  <time datetime="2021-01-02T02:15">
                                      Jan 02,2021 às 14:15
                                  </time></div>
                                  <div class="small">
                                      <span class="badge badge-cate">
                                          <i class="fas fa-thumbs-up"aria-hidden="true"></i>
                                          18<span class="sr-only">likes</span>
                                      </span>
                                      <span class="badge badge-cate">
                                          <i class="fas fa-comments" aria-hidden="true"></i> 8
                                          <span class="sr-only">Comentários</span>
                                      </span>
                                  </div>
                                  <div class="small">
                                      <a href="#"class="badge badge-pill badge-tags">#tecnologia</a>
                                      <a href="#"class="badge badge-pill badge-tags">#automação</a>
                                      <a href="#"class="badge badge-pill badge-tags">#startup</a>
                                  </div>
                          </div>
                      </header>
                     <div class="figure-img embed-responsive embed-responsive-16by9">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/lgnG9ih4cH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae doloremque officiis nemo rem, quia reiciendis quasi harum qui temporibus! Laboriosam.</p>
                       </article>
                    <!------>
                    <!------>
                    <article class="mb-3">
                        <header class="mb-2">
                            <div>
                                <a href=""class="sub-title">@lucas_andrade</a>
                                <h4>Projeto de hologramas para estudos</h4>
                                <div class="small">Postado em:
                                    <time datetime="2021-01-02T02:15">
                                        Jan 02,2021 às 14:15
                                    </time></div>
                                    <div class="small">
                                        <span class="badge badge-cate">
                                            <i class="fas fa-thumbs-up"aria-hidden="true"></i>
                                            18<span class="sr-only">likes</span>
                                        </span>
                                        <span class="badge badge-cate">
                                            <i class="fas fa-comments" aria-hidden="true"></i> 8
                                            <span class="sr-only">Comentários</span>
                                        </span>
                                    </div>
                                    <div class="small">
                                        <a href="#"class="badge badge-pill badge-tags">#tecnologia</a>
                                        <a href="#"class="badge badge-pill badge-tags">#hologramas</a>
                                        <a href="#"class="badge badge-pill badge-tags">#projeto</a>
                                        <a href="#"class="badge badge-pill badge-tags">#estudo</a>
                                    </div>
                            </div>
                        </header>
                       <div class="figure-img embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/3IMxOo-O7Jo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae doloremque officiis nemo rem, quia reiciendis quasi harum qui temporibus! Laboriosam.</p>
                         </article>
                    <!------>
                    <div>
                        <nav aria-label="Blog Pages">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <span class="page-link" aria-label="Previous">
                                        <span aria-hidden="true"><<</span>
                                        <span class="sr-only">Previous</span>
                                    </span>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">
                                        1 <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="page-item">
                             <a href="" class="page-link">2</a></li>
                               <li class="page-item"><a href="" class="page-link">3</a></li>
                                <li class="page-item"><a href="" class="page-link">4</a></li> 
                               <li class="page-item">     <a href="" class="page-link">5</a></li>
                                
                                <li class="page-item">
                                    <a href="#" class="page-link"aria-label="Next">
                                        <span aria-hidden="true">>></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                    
                  </div>
                  <!-----End of the main body-->
                  <!--Asides Section-->
    <div class="col-12 col-md-6 col-lg-4">
        <aside>
            <h2 class="mb-3">Ideias Populares</h2>
            <div class="list-group mb-3">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="badge badge-pill badge-cate float-right">Categorias</div>
                    <h5 class="post-title">Têxteis Inteligentes</h5>
                    <p class="small mb-2 sub-title">@pereira_gomes
                        (<time datetime="2020-06-16T18:30PM color">
                            Jun 16, 2020 às 6:30
                        </time></p>
                        <div class="small mb-2">
                            <span class="badge badge-cate">
                                <i class="fas fa-thumbs-up text-white" aria-hidden="true">15</i>
                                <span class="sr-only">likes</span>
                            </span>
                            <span class="badge badge-cate">
                                <i class="fas fa-comments text-white" aria-hidden="true"></i>
                                
                                <span class="sr-only">Comentários</span>
                            </span>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
                </a>
                <!----->
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="badge badge-pill badge-cate float-right">Categoias</div>
                    <h5 class="post-title">Fast food tecnológico</h5>
                    <p class="small mb-2 sub-title">@luisa_lima
                        (<time datetime="2020-06-16T18:30PM color">
                            Jun 16, 2020 às 6:30
                        </time></p>
                        <div class="small mb-2">
                            <span class="badge badge-cate">
                                <i class="fas fa-thumbs-up text-white" aria-hidden="true">15</i>
                                <span class="sr-only">likes</span>
                            </span>
                            <span class="badge badge-cate">
                                <i class="fas fa-comments text-white" aria-hidden="true"></i>
                                
                                <span class="sr-only">Comentários</span>
                            </span>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
                </a>
                <!----->
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="badge badge-pill badge-cate float-right">Categorias</div>
                    <h5 class="post-title">Smarthouses</h5>
                    <p class="small mb-2 sub-title">@julio_queiroz
                        (<time datetime="2020-06-16T18:30PM color">
                            Jun 16, 2020 às 6:30
                        </time></p>
                        <div class="small mb-2">
                            <span class="badge badge-cate">
                                <i class="fas fa-thumbs-up text-white" aria-hidden="true">15</i>
                                <span class="sr-only">likes</span>
                            </span>
                            <span class="badge badge-cate">
                                <i class="fas fa-comments text-white" aria-hidden="true"></i>
                                
                                <span class="sr-only">Comentários</span>
                            </span>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
                </a>
                <!----->
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="badge badge-pill badge-cate float-right">Categorias</div>
                    <h5 class="post-title">Ensino de programação para crianças</h5>
                    <p class="small mb-2 sub-title">@helena_albuquerque
                        (<time datetime="2020-06-16T18:30PM color">
                            Jun 16, 2020 às 6:30
                        </time></p>
                        <div class="small mb-2">
                            <span class="badge badge-cate">
                                <i class="fas fa-thumbs-up text-white" aria-hidden="true">15</i>
                                <span class="sr-only">likes</span>
                            </span>
                            <span class="badge badge-cate">
                                <i class="fas fa-comments text-white" aria-hidden="true"></i>
                                
                                <span class="sr-only">Comentários</span>
                            </span>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
                </a>
                <!----->
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="badge badge-pill badge-cate float-right">Categorias</div>
                    <h5 class="post-title">Sustentabilidade com tech</h5>
                    <p class="small mb-2 sub-title">@diego_pereira
                        (<time datetime="2020-06-16T18:30PM color">
                            Jun 16, 2020 às 6:30
                        </time></p>
                        <div class="small mb-2">
                            <span class="badge badge-cate">
                                <i class="fas fa-thumbs-up text-white" aria-hidden="true">15</i>
                                <span class="sr-only">likes</span>
                            </span>
                            <span class="badge badge-cate">
                                <i class="fas fa-comments text-white" aria-hidden="true"></i>
                                
                                <span class="sr-only">Comentários</span>
                            </span>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
                </a>
                <!----->
            </div>
            
            <!---Tag Cloud-->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Categorias</h5>
                    <a href=""class="badge badge-tags">#tecnologia</a>
                    <a href=""class="badge badge-tags">#sustentabilidade</a>
                    <a href=""class="badge badge-tags">#inovação</a>
                    <a href=""class="badge badge-tags">#projetos</a>
                    <a href=""class="badge badge-tags">#estudos</a>
                    <a href=""class="badge badge-tags">#startup</a>
                    <a href=""class="badge badge-tags">#empreendedorismo</a>
                    <a href=""class="badge badge-tags">#automação</a>
                    <a href=""class="badge badge-tags">#alimentação</a>
                    <a href=""class="badge badge-tags">#saúde</a>
                    <a href=""class="badge badge-tags">#produtividade</a>
                    <a href=""class="badge badge-tags">#socialmedia</a>
                    <a href=""class="badge badge-tags">#pets</a>
                    <a href=""class="badge badge-tags">#comunicação</a>
                    <a href=""class="badge badge-tags">#software</a>
                    <a href=""class="badge badge-tags">#financeiro</a>
                    <a href=""class="badge badge-tags">#programação</a>
                </div>
            </div>
            <!----->
            <!----->
        </aside>
    </div>
    
    
              </div>
          </div>
          <!--footer-->
         
    
    
    
    
    
    
    
    
    
    
    
    
    
    
          
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      </body>
    </html>
    {% endblock %}