{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!doctype html>
    <html lang="en">
      <head>
        <title>Social</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css">
        <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
      </head>
      <body>
          <!---Navbar-->
          <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#"></a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div
                class="collapse navbar-collapse justify-content-end"
                id="navbarNav"
              >
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                  </li>
                  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#"></a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div
                class="collapse navbar-collapse justify-content-end"
                id="navbarNav"
              >
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Sing Up</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        </div> 
    
          </nav>
          <!--End of Navbar-->
          <!----Body Section-->
          <div class="container my-3 my-sm-5">
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-8">
                      <h2 class="mb-3">Latest Posts</h2>
                      <!----->
                      <!------>
                      <article class="mb-3">
                        <header class="mb-2">
                            <a href="#"class="badge badge-pill badge-cate">Category</a>
                            <h1 class="main-title">
                                <a href="">Recipe Video</a>
                            </h1>
                            <div>
                                <a href=""class="sub-title">Author Name</a>
                                <div class="small">Posted on:
                                    <time datetime="2021-01-02T02:15">
                                        Jan 02,2021 at 14:15PM
                                    </time></div>
                                    <div class="small">
                                        <span class="badge badge-cate">
                                            <i class="fas fa-thumbs-up"aria-hidden="true"></i>
                                            18<span class="sr-only">likes</span>
                                        </span>
                                        <span class="badge badge-cate">
                                            <i class="fas fa-comments" aria-hidden="true"></i> 8
                                            <span class="sr-only">Comments</span>
                                        </span>
                                    </div>
                                    <div class="small">
                                        <a href="#"class="badge badge-pill badge-tags">#tag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#othertag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#anothertag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#tag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#someothertag</a>
    
                                    </div>
                            </div>
                        </header>
                       <div class="figure-img embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NJ1KgU-70RA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <figcaption class="figure-caption small mb-3">
                            <p class="mb-0">
                                <i class="fas fa-utensils"aria-hidden="true">
    
                                </i>
                                <span class="sr-only">video by:</span>
                                Chef Name
                            </p>
                        </figcaption>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae doloremque officiis nemo rem, quia reiciendis quasi harum qui temporibus! Laboriosam.</p>
                        <a href=""class="btn main-btn">Read More..</a>
                    </article>
                    <!------>
                    <article class="mb-3">
                        <header class="mb-2">
                            <a href="#"class="badge badge-pill badge-cate">Category</a>
                            <h1 class="main-title">
                                <a href="">Recipe Video</a>
                            </h1>
                            <div>
                                <a href=""class="sub-title">Author Name</a>
                                <div class="small">Posted on:
                                    <time datetime="2021-01-02T02:15">
                                        Jan 02,2021 at 14:15PM
                                    </time></div>
                                    <div class="small">
                                        <span class="badge badge-cate">
                                            <i class="fas fa-thumbs-up"aria-hidden="true"></i>
                                            18<span class="sr-only">likes</span>
                                        </span>
                                        <span class="badge badge-cate">
                                            <i class="fas fa-comments" aria-hidden="true"></i> 8
                                            <span class="sr-only">Comments</span>
                                        </span>
                                    </div>
                                    <div class="small">
                                        <a href="#"class="badge badge-pill badge-tags">#tag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#othertag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#anothertag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#tag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#someothertag</a>
    
                                    </div>
                            </div>
                        </header>
                       <div class="figure-img embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NJ1KgU-70RA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <figcaption class="figure-caption small mb-3">
                            <p class="mb-0">
                                <i class="fas fa-utensils"aria-hidden="true">
    
                                </i>
                                <span class="sr-only">video by:</span>
                                Chef Name
                            </p>
                        </figcaption>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae doloremque officiis nemo rem, quia reiciendis quasi harum qui temporibus! Laboriosam.</p>
                        <a href=""class="btn main-btn">Read More..</a>
                    </article>
                    <!------>
                   <article class="mb-3">
                        <header class="mb-2">
                            <a href="#"class="badge badge-pill badge-cate">Category</a>
                            <h1 class="main-title">
                                <a href="">Recipe Video</a>
                            </h1>
                            <div>
                                <a href=""class="sub-title">Author Name</a>
                                <div class="small">Posted on:
                                    <time datetime="2021-01-02T02:15">
                                        Jan 02,2021 at 14:15PM
                                    </time></div>
                                    <div class="small">
                                        <span class="badge badge-cate">
                                            <i class="fas fa-thumbs-up"aria-hidden="true"></i>
                                            18<span class="sr-only">likes</span>
                                        </span>
                                        <span class="badge badge-cate">
                                            <i class="fas fa-comments" aria-hidden="true"></i> 8
                                            <span class="sr-only">Comments</span>
                                        </span>
                                    </div>
                                    <div class="small">
                                        <a href="#"class="badge badge-pill badge-tags">#tag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#othertag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#anothertag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#tag</a>
                                        <a href="#"class="badge badge-pill badge-tags">#someothertag</a>
    
                                    </div>
                            </div>
                        </header>
                       <div class="figure-img embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NJ1KgU-70RA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <figcaption class="figure-caption small mb-3">
                            <p class="mb-0">
                                <i class="fas fa-utensils"aria-hidden="true">
    
                                </i>
                                <span class="sr-only">video by:</span>
                                Chef Name
                            </p>
                        </figcaption>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae doloremque officiis nemo rem, quia reiciendis quasi harum qui temporibus! Laboriosam.</p>
                        <a href=""class="btn main-btn">Read More..</a>
                    </article>
                    <!------>
                    <div>
                        <nav aria-label="Blog Pages">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <span class="page-link" aria-label="Previous">
                                        <span aria-hidden="true"><<</span>
                                        <span class="sr-only">Previous</span>
                                    </span>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">
                                        1 <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="page-item">
                             <a href="" class="page-link">2</a></li>
                               <li class="page-item"><a href="" class="page-link">3</a></li>
                                <li class="page-item"><a href="" class="page-link">4</a></li> 
                               <li class="page-item">     <a href="" class="page-link">5</a></li>
                                
                                <li class="page-item">
                                    <a href="#" class="page-link"aria-label="Next">
                                        <span aria-hidden="true">>></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                    
                  </div>
                  <!-----End of the main body-->
                  <!--Asides Section-->
    <div class="col-12 col-md-6 col-lg-4">
        <aside>
            <h2 class="mb-3">Popular Posts</h2>
            <div class="list-group mb-3">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="badge badge-pill badge-cate float-right">Category</div>
                    <h5 class="post-title">Post Title</h5>
                    <p class="small mb-2 sub-title">Author Name
                        (<time datetime="2020-06-16T18:30PM color">
                            June 16, 2020 at 6:30PM
                        </time></p>
                        <div class="small mb-2">
                            <span class="badge badge-cate">
                                <i class="fas fa-thumbs-up text-white" aria-hidden="true">15</i>
                                <span class="sr-only">likes</span>
                            </span>
                            <span class="badge badge-cate">
                                <i class="fas fa-comments text-white" aria-hidden="true"></i>
                                8
                                <span class="sr-only">Comments</span>
                            </span>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
                </a>
                <!----->
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="badge badge-pill badge-cate float-right">Category</div>
                    <h5 class="post-title">Post Title</h5>
                    <p class="small mb-2 sub-title">Author Name
                        (<time datetime="2020-06-16T18:30PM color">
                            June 16, 2020 at 6:30PM
                        </time></p>
                        <div class="small mb-2">
                            <span class="badge badge-cate">
                                <i class="fas fa-thumbs-up text-white" aria-hidden="true">15</i>
                                <span class="sr-only">likes</span>
                            </span>
                            <span class="badge badge-cate">
                                <i class="fas fa-comments text-white" aria-hidden="true"></i>
                                8
                                <span class="sr-only">Comments</span>
                            </span>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
                </a>
                <!----->
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="badge badge-pill badge-cate float-right">Category</div>
                    <h5 class="post-title">Post Title</h5>
                    <p class="small mb-2 sub-title">Author Name
                        (<time datetime="2020-06-16T18:30PM color">
                            June 16, 2020 at 6:30PM
                        </time></p>
                        <div class="small mb-2">
                            <span class="badge badge-cate">
                                <i class="fas fa-thumbs-up text-white" aria-hidden="true">15</i>
                                <span class="sr-only">likes</span>
                            </span>
                            <span class="badge badge-cate">
                                <i class="fas fa-comments text-white" aria-hidden="true"></i>
                                8
                                <span class="sr-only">Comments</span>
                            </span>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
                </a>
                <!----->
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="badge badge-pill badge-cate float-right">Category</div>
                    <h5 class="post-title">Post Title</h5>
                    <p class="small mb-2 sub-title">Author Name
                        (<time datetime="2020-06-16T18:30PM color">
                            June 16, 2020 at 6:30PM
                        </time></p>
                        <div class="small mb-2">
                            <span class="badge badge-cate">
                                <i class="fas fa-thumbs-up text-white" aria-hidden="true">15</i>
                                <span class="sr-only">likes</span>
                            </span>
                            <span class="badge badge-cate">
                                <i class="fas fa-comments text-white" aria-hidden="true"></i>
                                8
                                <span class="sr-only">Comments</span>
                            </span>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
                </a>
                <!----->
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="badge badge-pill badge-cate float-right">Category</div>
                    <h5 class="post-title">Post Title</h5>
                    <p class="small mb-2 sub-title">Author Name
                        (<time datetime="2020-06-16T18:30PM color">
                            June 16, 2020 at 6:30PM
                        </time></p>
                        <div class="small mb-2">
                            <span class="badge badge-cate">
                                <i class="fas fa-thumbs-up text-white" aria-hidden="true">15</i>
                                <span class="sr-only">likes</span>
                            </span>
                            <span class="badge badge-cate">
                                <i class="fas fa-comments text-white" aria-hidden="true"></i>
                                8
                                <span class="sr-only">Comments</span>
                            </span>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
                </a>
                <!----->
            </div>
            
            <!---Tag Cloud-->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Categorias</h5>
                    <a href=""class="badge badge-tags">#tag</a>
                    <a href=""class="badge badge-tags">#othertag</a>
                    <a href=""class="badge badge-tags">#anothertag</a>
                    <a href=""class="badge badge-tags">#tag</a>
                    <a href=""class="badge badge-tags">#someothertag</a>
                    <a href=""class="badge badge-tags">#moretags</a>
                    <a href=""class="badge badge-tags">#somemoretags</a>
                    <a href=""class="badge badge-tags">#tag</a>
                    <a href=""class="badge badge-tags">#anotherkindoftag</a>
                    <a href=""class="badge badge-tags">#allabouttags</a>
                    <a href=""class="badge badge-tags">#tag</a>
                    <a href=""class="badge badge-tags">#someothertag</a>
                    <a href=""class="badge badge-tags">#moretags</a>
                    <a href=""class="badge badge-tags">#somemoretags</a>
                    <a href=""class="badge badge-tags">#tag</a>
                    <a href=""class="badge badge-tags">#anotherkindoftag</a>
                    <a href=""class="badge badge-tags">#allabouttags</a>
                </div>
            </div>
            <!----->
            <!----->
        </aside>
    </div>
    
    
              </div>
          </div>
          <!--footer-->
         
    
    
    
    
    
    
    
    
    
    
    
    
    
    
          
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      </body>
    </html>
    {% endblock %}